*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

h1{
    margin: 15px 0px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#cachorros h2{
    width:100%;
    height: 45px;
    background-color: #A038F1CF; 
    margin-top: -20px;
    padding-top: 10px;
    color: #fff;
    text-align: center;
}
#gatos h2{
    width:100%;
    height: 45px;
    background-color: #A038F1CF; 
    margin-top: 320px;
    padding-top: 9.5px;
    color: #fff;
    text-align: center;
}
#roedores h2{
    width:100%;
    height: 45px;
    background-color: #A038F1CF; 
    margin-top: 320px;
    padding-top: 9.5px;
    color: #fff;
    text-align: center;
}

h3{
    padding-top: 15px;
    font-size: 1.2rem;
    text-align: justify;
  }

  p{
    font: 0.9em sans-serif;
    margin: 5px;
    text-align: justify;
    padding-top: 5px;
    color: #FFA800;
    }

#conteiner_topo{
    width: 100%;
}
#topo{
    width: 100%;
    height: 60px;
    background-color: #A038F1CF;
    padding-top: 20px;
    padding-left: 20px;
}
#logo{
    padding-left: 7px;
    width: 30%;
    height: 40px;
    float:left;
}
#logo img{
    width: 70px;
    height: 40px;
}
/* campo do formulário */
input{
    border:#ddd solid 1px;
    float:left;
    padding:5px 20px 5px 5px
 }
 
 /* formatação do elemento */
 #lupa{
    float:left;
    margin:3px 0px 0px -20px;
    cursor:pointer
 }
 
 /* formatação do conteúdo  */
 #lupa:after{
    font-family:FontAwesome;
    font-size:14px;
    content:"\f002"
 }

#menu{
    width: 30%;
    height: 50px;
    float: right;
    list-style: 50px;
}

#menu ul li{
    margin-top: 15px;
    display: inline-block;
}

#menu ul li a{
    font-size: 1.1rem;
    text-decoration: none;
    border:  black 1px;
    padding: 0px 5px;
    text-align: center;
    margin: auto;
}

#conteiner_conteudo{
    width: 1000px;
    margin: auto;
}

#banner{
    width: 1220px;
    height: 300px;
    margin: auto;
    margin-top: 10px;
    background-color: antiquewhite;
}

#banner img{
    width: 1440px;
    height: 300px;
}

#categorias{
    width: 100%;
    height: 250px;
    margin-left: 100px;
}

.categoria{
    width: 20%;
    height: 200px;
    font-size: 20px;
    text-align: center;
    padding: 25px;
    float: left;
    margin: 0px 50px;
}

.categoria img{
    width: 150px;
    height: 150px;
}

.categoria span{
    text-align: center;
}

#texo{
    text-align: center;
    display: flex;
}

.categoria  a{
    text-decoration: none;
    text-transform: uppercase;
}

#produtos{
    width: 1100px;
    height: 600px;
    background-color: aquamarine;
    margin: auto;
    padding-bottom: 10px;
}

.produto{
    background-color: #fff;
    height: 150px;
    width: 460px;
    margin-top: 20px;
    margin-left: 175px;
    float: left;
    padding-left: 5px;
}

.produto1{
    background-color: #fff;
    height: 150px;
    width: 460px;
    margin-top: 20px;
    margin-right: 240px;
    float: right;
    padding-left: 5px;
}

#img{
    width: 25%;
    height: 100%;
    display: block;
    float: left;
    margin-right: 10px;
    padding-top: 5px;
  }

#gatos{
    padding-top: 20px;
}

#roedores{
    padding-top: 50px;
}

.footer{
    background-color: #121213;
    width: 100%;
    height:100%;
    float: left;
    font-size: 18px;
    padding: 50px 10px 50px 10px;
   }
   .footer .left{ 
    width:100%; 
    float:left; 
    border-bottom:1px #222424 solid;
    border-right:0; 
    margin-bottom:20px; 
       padding-bottom:20px;
   }
   .footer .title-footer {
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-weight: initial;
       font-size:26px;
       width:100%;
       float:left;
       margin-bottom:15px;
   }
   .footer .title-footer span{
    color:  #A038F1CF;
    font-family:'DM Sans', sans-serif;
    font-weight: bold;
   }
   /* Footer links */
   .footer .links{
    
    width: 100%;
    float: left;
    color:  #ffffff;
    margin-bottom: 20px;
    padding: 0;
   }
   .footer .links a{
       display: block;
       line-height: 33px;
       text-decoration: none;
       color: #fff;
       font-family:'DM Sans', sans-serif;
       font-size:16px;
       transition:0.3s;
   }
   .footer .links a:hover { color:#A038F1CF; }
   .footer .Copyright{
    font-family:'DM Sans', sans-serif;
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
   }
   /*Rede Sociais*/
   .footer .footer-icons{
    
    width:100%;
    float:left;
    margin-bottom:20px;
   }
   .footer .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 50px;
       font-family:'DM Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center; 
    line-height: 35px;
    margin-bottom: 5px;
    transition:0.3s;
   }
   .footer .footer-icons a:hover{ background-color:#2fcacf; }
   /*Right*/
   .footer .right   { width:100%; float:left; }
   .footer .right p {
    font-family: 'DM Sans', sans-serif;
    font-weight: initial;
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    color: #ffffff;
   }
   /*formulario*/
   .footer form { width:100%; float:left; }
   .footer form input,
   .footer form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
       outline: none;
    font: inherit;
    font-size: 14px;
    font-family:'DM Sans', sans-serif;
    font-weight: normal;
    color:  #d1d2d2;
    width: 100%;
    padding: 18px;
   }
   .footer ::-webkit-input-placeholder {
    color:  #5c666b;
   }
   .footer ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
   }
   .footer :-ms-input-placeholder{
    color:  #5c666b;
   }
   .footer form input{
    
    width: 100%;
    height: 55px;
    float: left;
    margin-bottom: 15px;
   }
   .footer form textarea{
    height: 100px;
    margin-bottom: 20px;
   }
   .footer form .btn{
    border-radius: 3px;
    background-color:  #1f2022;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    float: left;
    cursor: pointer;
       transition: 0.3s;
   }
   .footer form .btn:hover { background-color:  #2fcacf; }
   /*Responsive*/
   @media (min-width: 1280px) {
    .footer               { padding: 100px 50px 50px 100px; }
    .footer .Copyright    { font-size: 16px; }
    .footer form input,
    .footer form textarea { width: 100%; float:left; }
    .footer form button   { padding: 10px 35px; }
   }
   @media (min-width: 768px) {
    
    .footer .left         { width:48%; border-bottom:0; }
    .footer .right        { width:48%; padding-left: 4%; border-left: 1px #222424 solid; } 
    .footer form          { margin-top: 30px; }
    .footer form          { display: block; }
    .footer form button   { float: none; }
   }